@charset "utf-8";
/* CSS Document */

h1 {
	color: red;
	text-align: center;
	text-decoration: underline;
}

body{
	background-image: url("../../Ejemplo/imagenes/MáquinaDeDios.png");
	background-size: cover;
	margin: 5px;
	border: 2px solid blue;
	padding: 10px;
}

html{
	border: 2px solid yellow;
}

img{
	border: 2px solid orange;
	border-radius: 50px;
}

p{
	margin: 5px;
	border: 2px solid red;
	padding: 10px;
	text-align: justify;
}

*{
	border: 2px solid green;
}